/.idea/
/out/
*.iml

# Eclipse
.settings
.classpath
.project

screenshots/
/target/

# macOS Garbage file
.DS_Store
target/

characters.sc
old_sceditorJar.jar
exports
sc-editor-1.0.0-linux64.jar
test.py
text.txt
